@charset "utf-8";
#swimbi{
	padding: 20px 0px 0 0px;
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 9999;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	left: 0px;
}
#swimbi a:not([href]){
	cursor: default;
}
#swimbi a.B{
	font-weight: bold !important;
}
#swimbi a.I{
	font-style: italic !important;
}
#swimbi a.U{
	text-decoration: underline !important;
}
#swimbi>ul{
	background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA3CAYAAADNNiA5AAAApUlEQVQYV2Nk4eL5z2jWsvA/o92MXf8ZzdsWQwmz1kX/GU2b5v9nNGmY85/RuG7WH0ajmhn/GY2qpwNZ1dP+MxpWTv7DaFg+8T+jQdmEPyACyCrtB7JK+/4z6pf0Aoninj+M+kXd/xn1Crv+gAggq6ATyCro/M+om9/xB0i0/2dUTyj7w6gYlPofTiC4mKzg1D+MSiFp/0EEgoXGxaYEpzawXggBADo0b21HIQB2AAAAAElFTkSuQmCC');
	padding: 0 12px 0 12px !important;
	border-radius: 5px;
	box-shadow: 0px 1px 7px  0px rgba(0,0,0,.87);
	width: auto;
	list-style: none;
	position: relative;
	white-space: nowrap;
	display: inline-table;
	font-size: 0px;
}
#swimbi ul, #swimbi li, #swimbi a{
	font-family: Oswald !important;
	margin: 0;
	padding: 0;
}
#swimbi>ul>li{
	display: inline-block;

	vertical-align: top;
	font-size: 18px;
	position: relative;
}
#swimbi ul li:hover>ul,#swimbi .hvr>ul{
	display: block !important;
	visibility: visible;
	opacity: 1;
	pointer-events:  all; -webkit-transform: perspective(400px) rotate3d(1,1,0,0deg); -ms-transform: perspective(400px) rotate3d(1,1,0,0deg); transform: perspective(400px) rotate3d(1,1,0,0deg); -webkit-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out; transition: all 0.2s ease-out;
}
#swimbi>ul>li:hover>a,#swimbi .hvr>a{
	color: #ffffff !important;
	border-radius: 0px;
	z-index: 9;
}
#swimbi ul li a{
	display: block;
	text-decoration: none;
	white-space: nowrap;
}
#swimbi>ul>li>a{
	padding: 0px 18px;
	line-height: 55px;
	height: 55px;
	color: #ffffff;
	text-shadow: 0px 1px 1px rgba(0,0,0,.88);
}
#swimbi ul ul{
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	opacity: 0; -webkit-transform: perspective(1000) rotate3d(1,1,0,180deg); -ms-transform: perspective(1000) rotate3d(1,1,0,180deg); transform: perspective(1000) rotate3d(1,1,0,180deg);
	visibility: hidden;
	display: block;
	pointer-events: none;
	background: #38788c;
	border-radius: 8px;
	width: auto;
	list-style: none;
	min-width: 70px;
	padding: 0px 1px 1px 1px;
	position: absolute;
	z-index: 7;
	margin-top: 0;
	box-shadow: 0px 0px 10px  0px rgba(0,0,0,.80);
	top: 55px;
}
#swimbi ul ul.columns{
	font-size: 0px;
}

#swimbi ul ul li.column{
	display: inline-block;
	width: auto;
	vertical-align: top;
}

#swimbi ul ul li.column>ul{
	position: relative;
	display: block;
	box-shadow: none;
	background: none;
	left:0;
	padding: 0;
	visibility: visible;
	opacity: 1;
	transform: none;
	-ms-transform: none;
	-webkit-transform: none;
}

#swimbi ul ul li.column>ul:hover{
	z-index: 9;
}

#swimbi ul ul li{
	float: none;
	position: relative;
	width: 100%;
	text-align: left;
}
#swimbi ul ul li a{
	padding-left: 15px;
	padding-right: 33px;
	line-height: 27px;
	height: 27px;
	color: #ffffff !important;
	text-shadow: 0px 1px 1px rgba(0,0,0,.81);
}
#swimbi ul ul li>a:after{
	content: '';
	position: absolute;
	right: 10px;
	top: 50%;
	width: 0;
	height: 0;
	margin: -4px 5px;
	border-left: 5px #ffffff solid;
	border-top: 4px dashed transparent;
	border-bottom: 4px dashed transparent;
	border-right: none;
	display: inline-block;
	overflow:hidden;
}
#swimbi ul ul>li>a:only-child{
	padding-right: 15px;
}
#swimbi ul ul>li>a[data-icon], #swimbi ul.mixicon>li>a{
	padding-right: 59px;
}
#swimbi ul ul>li>a[data-icon]:only-child, #swimbi ul.mixicon>li>a:only-child, #swimbi ul li.column>ul.mixicon>li>a:only-child{
	padding-right: 41px;
}
#swimbi ul li.column>ul>li>a:before, #swimbi ul ul>li>a:only-child:before{
	padding-right: 0px;
}
#swimbi ul li.column>ul>li>a[data-icon]:before, #swimbi ul li.column>ul.mixicon>li>a:before{
	padding-right: 8px;
}
#swimbi ul li.column>ul>li>a[data-icon], #swimbi ul li.column>ul.mixicon>li>a{
	padding-right: 33px;
}
#swimbi ul li.column>ul>li>a[data-icon]:only-child{
	padding-right: 15px;
}
#swimbi ul ul li>a:only-child:after{
	display: none;
}
#swimbi ul ul li:hover>a{
	border-radius: 0px;
	color: #ffffff !important;
}
#swimbi ul ul li:hover>a:after{
	border-left: 5px #ffffff solid;
}
#swimbi ul ul li a:hover{
	border-radius: 0px;
	background: #225466;
}
#swimbi ul ul li a:hover:after{
	border-left: 5px #ffffff solid;
}
#swimbi canvas{
	position: absolute;
	width: 1px;
	height: 1px;
}
canvas noscript{
	display: none;
}
#swimbi ul ul ul{
	position: absolute;
	z-index: 7;
	left: 100%;
	top: 0;
}
#ie_message{
	display:none;
}
@media screen and (min-width:0\0){
#ie_message{
	display: block;
	margin-top: 10px;
	background: #ecc;
}
}
@font-face{
font-family:'ifont';
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0');
src:url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'),url('http://netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
}

#swimbi ul>li>a:before, #swimbi>ul>li>a:after{
	color: #ffffff;
	font-family: ifont;
	pointer-events: none;
	line-height: 55px;
	font-size: 20px;
	padding: 0 14px 0 0;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float: left;
	content: attr(data-icn);
	visibility: hidden;
}

#swimbi>ul>li>a:after{
	visibility: visible;
	position: absolute;
	z-index: 6;
	top:0;
	left: 18px;
	padding: 0;
	text-shadow: -1px -1px 0 rgba(0,0,0,.88);
	transition: all .12s ease-out;
	-webkit-transition: all .12s ease-out;
}

#swimbi>ul>li>a:before, #swimbi>ul>li>a:after{
	width: 20px;
}

#swimbi>ul>li>a[data-icon]:before{
	height: 20px;
}

#swimbi>ul>li>a.empty:before, #swimbi>ul>li>a.empty:after{
	padding: 0;
}

#swimbi>ul>li:hover>a:after, #swimbi>ul>li.hvr>a:after{
	color: #ffffff;
	font-size: 25px;
	left: 15.5px;
	text-shadow: -1px -1px 0 rgba(0,0,0,.88);
}

#swimbi ul ul li a[data-icon]:before, #swimbi ul ul.mixicon>li>a:before{
	visibility: visible;
	float: left;
	color: #ffffff;
	line-height: 27px;
	font-size: 18px;
	width: 18px;
	height: 18px;
	padding: 0 8px 0 0;
}

#swimbi ul ul li:hover>a:before{
	color: #ffffff;
}


#swimbi a.swsearch{
	width: 120px;
}

#srchSibl:after,#srchSibl:before{
	display: none !important;
}

#swimbi a.swsearch:hover{
	position: absolute;
	width: 257px;
	right: 0;
	transition: all .2s ease-out;
	-webkit-transition: all .2s ease-out;
}

#swimbi a.swsearch:hover{
	background:none !important;
}

#swimbi a.swsearch input{
	height: 27px;
	float: left;
	margin: 13.5px 0 0 1px !important;
	width: 100%;
	position: relative;
	padding: 2px 5px !important;
	outline: none;
	box-sizing: border-box;
	box-shadow: inset 0 1px 3px #000, inset 0 1px 6px #b9b9b9;
	border: none;
	border-bottom: 1px solid #4ea4c4;
	background: #f3f3f3;
	color: #555;
	border-radius: 2px;
}

#swimbi a.swsearch input:-webkit-autofill{
	transition: background-color 5000s ease-in-out 0s;
}

#swimbi a.swsearch input:focus+.mglass, #swimbi a.swsearch input:focus~.slabel{
	display: none;
}

#swimbi .mglass{
	position:absolute;
	border-radius: 30px;
	height: 6px;
	width: 6px;
	left: 24px;
	top: 21px;
	border: 2px solid #888;
	pointer-events:none;
}

#swimbi .mglass:after{
	content: '';
	height: 2px;
	width: 6px;
	background: #888;
	position:absolute;
	top:7px;
	left:5px;
	transform: rotate(45deg);  
	-ms-transform: rotate(45deg);  
	-webkit-transform: rotate(45deg);  
}

#swimbi .slabel{
	display: inline-block;
	position: absolute;
	z-index: 897;
	left: 42px;
	color: #aaa;
	text-shadow: none;
	pointer-events:none;
}

 #swmobsearch{
	position: absolute;
	z-index: 987;
	top: 20px;
	line-height: 55px;
	font-size: 18px;
	right: 72px;
	left: 30px;
	width: auto !important;
	height: 100%;
}

 #swmobsearch .mglass{
	left: 6px !important;
}

 #swmobsearch .slabel{
	left: 24px !important;
}

 #swmobsearch:hover{
	right: 72px !important;
	width: auto !important;
	left: 30px !important;
}

@media (max-width: 768px) {
	#swimbi>ul{
		min-width: 300px !important;
		width: 100%;
		height: 55px;
		padding: 0 !important;
	}

	#swimbi ul li{
		float: none;
		display: block;
		position:relative;
	}

	#swimbi>ul>li{
		width: auto !important;
		margin: 0 6px 0 6px;
	}

	#swimbi>ul>li>a{
		display:none;
	}

	#swimbi>ul:hover>li>a,#swimbi .hvr>li>a{
		display:block !important;
	}

	#swimbi>ul:hover~#swmobsearch,#swimbi .hvr~#swmobsearch{
		display:none !important;
	}

	#swimbi>ul>li:hover,#swimbi .hvr{
		z-index: 9 !important;
	}

	#swimbi>ul:before {
		float: right;
		line-height: 55px;
		content: '';
		margin: 20px 22px 19.375px 0;
		width: 20px;
		height:3.125px;
		border-top: 9.375px double #ffffff;
		border-bottom: 3.125px solid #ffffff;
	}

	#swimbi>ul:hover:before, #swimbi>ul.hvr:before {
		opacity: 0;
	}

	#swimbi ul ul ul{
		margin-top: 25px;
	}

	#swimbi ul ul {
		left: 25px !important;
	}

	#swimbi ul ul li.column{
		display: block;
	}

	#swimbi ul ul li.column>ul{
		left: 0 !important;
		margin-top: 0;
	}

}
