@{
    ViewBag.Title = "UnassignCourses";
}

<h2>UnassignCourses</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Unassign Courses" class="btn-danger"/>
        </div>
    </div>
}

